@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /*Primary - Text*/
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /*Background gradient*/
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /*Neutral - Text*/
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /*Deviders*/
  --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html,
body {
  min-height: 100vh;
}

body {
  font-size: 12px;
  line-height: 18px;
  background: linear-gradient(var(--soft-violet), var(--soft-red));
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: var(--very-dark-grayish-blue);
  width: 100%;
}

.background-active {
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.flex-container {
  background-color: white;
  max-width: 920px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 129px;
  margin-bottom: 130px;
  min-height: 509px;
}

.flex-item {
  flex: 1;
}

h1 {
  font-size: 32px;
  color: var(--very-dark-desaturated-blue);
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 43px;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 12px;
}

.faq-container {
  padding: 65px 5px 5px 15px;
}

.questions {
  width: 95%;
  max-width: 350px;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.answer {
  max-width: 91%;
  margin-bottom: 12px;
  display: none;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h2:hover {
  color: var(--soft-red);
}

.question-box {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.question-box {
  margin-top: 16px;
  margin-bottom: 16px;
}

.question-box:last-child {
  margin-bottom: 83px;
}

.woman-image {
  border: 2px solid blue;
  flex-shrink: 0;
}

@media screen and (max-width: 850px) {
  h1 {
    text-align: center;
    margin-bottom: 38px;
  }

  h2 {
    font-size: 13px;
  }
  .flex-container {
    flex-direction: column;
    margin: 0 24px;
    margin-top: 148px;
    margin-bottom: 85px;
  }

  .faq-container {
    padding: 0px;
    margin: 0 24px;
    width: 90%;

    flex-shrink: 1; /*TODO: */
  }

  .questions {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  .question-box:last-child {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 350px) {
  .flex-container {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .faq-container {
    padding: 0px;
    margin: 0 10px;
  }
}

.question-box.show h2 {
  font-weight: 700;
}

.question-box.show .answer {
  display: block;
}

.question-box.show .arrow-btn.rotate {
  transform: rotate(180deg);
}
